<div class="welcome">
  <center>
    <div class="welcome_block">
      <h2 class="welcome_h2">Welcome to Codefellows Alumni Website</h2>
      <p style="font-size:25px; line-height:35px;">Sign up to be featured as one of the many technology professionals who successfully completed the Code Fellows coding bootcamps.</h4>
    </div>
  </center>
</div>
<div class="home_section_color">
  <h1>Are you an employer?</h1>
    <p>
      Use this website to search for technology professionals who have successfully completed the Code Fellows coding bootcamps.</br>
      We have personally trained and vetted these individuals and stand behind them 100%.
    </p>
  </br>
  <h1>Are you a Code Fellows alumnus/alumna?</h1>
    <p>
      Use this website to showcase your skills and talents to potential employers and share projects you have worked on.
    </p>
</div>
<div class="home_section">
  <% if !@random_user.nil? %>
      <% if @random_user2.nil? %>
        <h1><%= "Featured Code Fellow" %></h1>
      <% else %>
        <h1><%= "Featured Code Fellows" %></h1>
      <% end %>
      <center>
        <div class="random_user">
          <div class="user_img">
            <%= image_tag @random_user.avatar.url(:medium) %>
          </div>
          <div class="user_intro">
            <h2><%= link_to @random_user.first_name.to_s +
            " " + @random_user.last_name.to_s, @random_user %></h2>
            <%= @random_user.introduction %></br>
            <button><%= link_to "Check Out My Projects", @random_user, { :class => 'button'} %></button>
          </div>
        </div>
      </center>
    </br></br>
  <% end %>
  <% if !@random_user2.nil? %>
      <center>
        <div class="random_user">
          <div class="user_img">
            <%= image_tag @random_user2.avatar.url(:medium) %>
          </div>
          <div class="user_intro">
            <h2><%= link_to @random_user2.first_name.to_s +
            " " + @random_user2.last_name.to_s, @random_user2 %></h2>
            <%= @random_user2.introduction %></br>
            <button><%= link_to "Check Out My Projects", @random_user2, { :class => 'button'} %></button>
          </div>
        </div>
      </center>
  <% end %>
</div>
