<div class="container">
<h2>Welcome to Codefellows Alumni Showcase!</h2>

  <div class="row">
    <div class="span3">
      <%= image_tag "codefellows_badge.png" %>
      <p>
        "some text about codefellows and this website"
      </p>
    </div>
      <% if !@random_user.nil? %>
        <div class="span4">
          <%= image_tag @random_user.avatar.url(:medium) %><br>
          <%= link_to @random_user.first_name.to_s +
                " " + @random_user.last_name.to_s, @random_user %><br>
          <%= @random_user.introduction %><br><br>
          <% if !@random_project.nil? %>
            <%= "Project I have worked on: " %><br>
            <%= link_to @random_project.title.to_s, @random_project %><br>
            <%= image_tag @random_project.attach.url %><br>
          <% end %>
        </div>
      <% end %>
      <div class="span5">
        <table class="table">
           <tbody>
             <% @users.each do |user| %>
               <tr>
                 <td><%= image_tag user.avatar.url(:small) %>
                 <td><%= link_to user.first_name.to_s +
                        " " + user.last_name.to_s, user %></td>
               </tr>
             <% end %>
           </tbody>
        </table>
    </div>
  </div>
</div>
