<div class="welcome">
  <center>
    <div class="welcome_block">
      <h2 class="welcome_h2">Welcome to Codefellows Alumni Website</h2>
      <p style="font-size:25px; line-height:35px;">Sign up to be featured as one of the many technology professionals who successfully completed the Code Fellows coding bootcamps.</h4>
    </div>
  </center>
</div>
<div class="container">
  <div class="row">
    <div class="span3">
      <%= link_to image_tag("codefellows_badge.png"),
          "https://www.codefellows.org/", :target => "_blank" %>
      <p>
        <b>Hello employers and entrepreneurs!</b>
      </p>
      <p>
        Use this website to search for technology professionals who have successfully completed our bootcamp programs.  We have personally trained and vetted these individuals and stand behind them 100%.
      </p>
      <p>
        <b>Hello Codefellow alumni!</b>
      </p>
      <p> Use this website to showcase your skills and talents to potential employers and share projects you have worked on.
      </p>
    </div>
      <% if !@random_user.nil? %>
        <div class="span4">
          <h4><%= "Check out Codefellow Alum, " %></h4>
          <h4><%= link_to @random_user.first_name.to_s +
                " " + @random_user.last_name.to_s, @random_user %></h4>
          <%= image_tag @random_user.avatar.url(:medium) %><br>
          <%= @random_user.introduction %><br><br>
          <% if !@random_project.nil? %>
            <h4><%= "Project I have worked on: " %></h4><br>
            <%= link_to @random_project.title.to_s, @random_project %><br>
            <%= image_tag @random_project.attach.url %><br>
          <% end %>
        </div>
      <% end %>
      <div class="span5">
        <table class="table">
           <tbody>
             <% @users.each do |user| %>
               <tr>
                 <td><%= image_tag user.avatar.url(:medium) %>
                 <td><%= link_to user.first_name.to_s +
                        " " + user.last_name.to_s, user %></td>
               </tr>
             <% end %>
           </tbody>
        </table>
    </div>
  </div>
</div>
