<div class="welcome">
  <center>
    <div class="welcome_block">
      <h2 class="welcome_h2">Welcome to Codefellows Alumni Website</h2>
      <p style="font-size:25px; line-height:35px;">Sign up to be featured as one of the many technology professionals who successfully completed the Code Fellows coding bootcamps.</h4>
    </div>
  </center>
</div>
<div class="home_section">
  <h1>Are you an employer?</h1>
    <p>
      Use this website to search for technology professionals who have successfully completed the Code Fellows coding bootcamps.</br>
      We have personally trained and vetted these individuals and stand behind them 100%.
    </p>
  </br>
  <h1>Are you a Code Fellows alumnus/alumna?</h1>
    <p>
      Use this website to showcase your skills and talents to potential employers and share projects you have worked on.
    </p>
</div>
<div class="home_section">
      <% if !@random_user.nil? %>
          <h1><%= "Featured Code Fellow" %></h1>
          <center>
            <div class="random_user">
              <div class="user_img">
                <%= image_tag @random_user.avatar.url(:medium) %>
              </div>
              <div class="user_intro">
                <h2><%= link_to @random_user.first_name.to_s +
                " " + @random_user.last_name.to_s, @random_user %></h2>
                <%= @random_user.introduction %>
              </div>
            </div>
          </center>

          <% if !@random_project.nil? %>
            <h2><%= "Project I have worked on" %></h2>
            <center>
              <div class="random_user">
                <div class="user_img">
                  <%= image_tag @random_project.attach.url %>
                </div>
                <div class="user_intro">
                  <h2><%= link_to @random_project.title.to_s, @random_project %></h2>
                  <%= @random_project.description %>
                </div>
              </div>
            </center>
          <% end %>
      <% end %>
</div>

      <div class="span5">
        <table class="table">
           <tbody>
             <% @users.each do |user| %>
               <tr>
                 <td><%= image_tag user.avatar.url(:medium) %>
                 <td><%= link_to user.first_name.to_s +
                        " " + user.last_name.to_s, user %></td>
               </tr>
             <% end %>
           </tbody>
        </table>
    </div>
  </div>
</div>
