<div class="welcome">
  <center>
    <div class="welcome_block">
      <h2 class="welcome_h2"><%= t ".welcome" %></h2>
      <p style="font-size:25px; line-height:35px;"><%= t ".welcome_fine_print" %></h4>
    </div>
  </center>
</div>
<div class="home_section_color">
  <h1><%= t ".employer_question" %></h1>
    <p>
      <%= t ".employer_answer1" %></br>
      <%= t ".employer_answer2" %>
    </p>
  </br>
  <h1><%= t ".codefellow_question" %></h1>
    <p><%= t ".codefellow_answer" %></p>
</div>
<div class="home_section">
  <% if !@random_user.nil? %>
      <% if @random_user2.nil? %>
        <h1><%= t ".featured_codefellow" %></h1>
      <% else %>
        <h1><%= t ".featured_codefellows" %></h1>
      <% end %>
      <center>
        <div class="random_user">
          <div class="user_img">
            <%= link_to (image_tag @random_user.avatar.url(:medium)),
                @random_user %>
          </div>
          <div class="user_intro">
            <h2><%= link_to @random_user.first_name.to_s +
            " " + @random_user.last_name.to_s, @random_user %></h2>
            <%= @random_user.introduction %></br>
            <button><%= link_to (t ".check_out_my_projects"), @random_user, { :class => 'button'} %></button>
          </div>
        </div>
      </center>
    </br></br>
  <% end %>
  <% if !@random_user2.nil? %>
      <center>
        <div class="random_user">
          <div class="user_img">
            <%= link_to (image_tag @random_user2.avatar.url(:medium)),
                @random_user2 %>
          </div>
          <div class="user_intro">
            <h2><%= link_to @random_user2.first_name.to_s +
            " " + @random_user2.last_name.to_s, @random_user2 %></h2>
            <%= @random_user2.introduction %></br>
            <button><%= link_to (t ".check_out_my_projects"), @random_user2, { :class => 'button'} %></button>
          </div>
        </div>
      </center>
  <% end %>
</div>
