<body data-spy="scroll" data-target="#header" class="landing">
  <header id="header" class="navbar navbar-fixed-top bg-primary dk" style="background:#b43d3d;"  data-spy="affix" data-offset-top="1" style="background:#b43d3d;">
    <div class="container">
      <a class="navbar-brand" href="<%= root_path %>">Code Fellows</a>
      <p class="navbar-text pull-left text-muted hidden-xs hidden-sm"><small class="text-muted"><em>Alumni Portal</em></small></p>
      <p class="navbar-text pull-left text-muted hidden-xs hidden-sm"><small class="text-muted"><%= link_to_unless_current "English", locale: "en" %></small></p>
      <p class="navbar-text pull-left text-muted hidden-xs hidden-sm"><small class="text-muted"><%= link_to_unless_current "中文", locale: "ch" %></small></p>
      <ul class="nav navbar-nav pull-right">
        <li class="hide">
          <a href="#header">Home</a>
        </li>
        <li class="hidden-xs"><%= link_to (t "application.home"), root_path %></li>
        <li class="hidden-xs"><%= link_to (t "application.alumni"), users_path %></li>
        <% if user_signed_in? %>
          <li class="hidden-xs"><%= link_to (t "application.my_profile"), current_user %></li>
          <li class="hidden-xs"><%= link_to (t "application.my_projects"), projects_path %></li>
          <li class="hidden-xs"><%= link_to (t "application.sign_out"), destroy_user_session_path, :method => :delete %></li>
          <% else %>
          <li class="hidden-xs"><%= link_to (t "application.sign_up"), new_user_registration_path %></li>
          <li class="hidden-xs"><%= link_to (t "application.sign_in"), new_user_session_path %></li>
          <li class="hidden-xs"><%= link_to (t "application.sign_in_with_twitter"), user_omniauth_authorize_path(:twitter) %></li>
        <% end %>
      </ul>
    </div>
  </header>
  <section id="content">
    <div class="bg-primary dk" style="background:#b43d3d;">
      <div class="carousel carousel-fade slide auto" id="c-slide">
        <ol class="carousel-indicators">
          <li data-target="#c-slide" data-slide-to="0" class="active"></li>
          <li data-target="#c-slide" data-slide-to="1" class=""></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active row">
            <div class="col-xs-6 text-right">
              <img src="assets/Monitor.png" class="animated fadeInUpBig m-r-lg">
            </div>
            <div class="col-sm-6">
              <h2 class="animated fadeInUp"><strong class="text-white">Code Fellows</strong><br><span class="font-thin">Alumni Portal</span></h2>
              <h4 class="animated fadeInUpBig hidden-xs">
                Are you a Code Fellow?</br>Use this website to showcase your skills and talents to</br>potential employers and share projects you have worked on.
              </h4>
            </div>
          </div>
          <div class="item row">
            <div class="col-xs-5 text-right">
              <h2 class="animated fadeInLeftBig"><strong class="text-white">Excellent</strong> <span class="font-thin"><br>Individuals</span></h2>
              <h4 class="animated fadeInUpBig hidden-xs">
                Are you an employer?</br>Use this website to search for technology</br>professionals who have successfully completed</br>the Code Fellows coding bootcamps.
              </h4>
            </div>
            <div class="col-xs-6">
              <img src="assets/CFLadies.png" class="animated fadeInRightBig">
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#c-slide" data-slide="prev">
          <i class="icon-angle-left"></i>
        </a>
        <a class="right carousel-control" href="#c-slide" data-slide="next">
          <i class="icon-angle-right"></i>
        </a>
      </div>
    </div>
    <div class="bg-light" id="features">
      <div class="container">
        <p>&nbsp;</p>
        <div class="m-xl">
          <h2 class="font-thin">A Code Fellow Is Someone Who Possesses These Qualifications:</h2>
        </div>
        <div class="row">
          <div class="col-sm-4 lt wrapper-xl">
            <p class="text-center">
              <span class="icon-stack icon-2x">
                <i class="icon-circle icon-stack-base text-success"></i>
                <i class="icon-desktop text-white"></i>
              </span>
            </p>
            <div>
              <h3 class="text-center">Coding Experience</h3>
            </div>
          </div>
          <div class="col-sm-4 lter wrapper-xl">
            <p class="text-center">
              <span class="icon-stack icon-2x">
                <i class="icon-circle icon-stack-base text-info"></i>
                <i class="icon-bolt text-white"></i>
              </span>
            </p>
            <div>
              <h3 class="text-center">Intense Speed</h3>
            </div>
          </div>
          <div class="col-sm-4 wrapper-xl bg-white">
            <p class="text-center">
              <span class="icon-stack icon-2x">
                <i class="icon-circle icon-stack-base text-danger"></i>
                <i class="icon-html5 text-white"></i>
              </span>
            </p>
            <div>
              <h3 class="text-center">Beautiful Apps</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 wrapper-xl dk">
            <p class="text-center">
              <span class="icon-stack icon-2x">
                <i class="icon-circle icon-stack-base text-info"></i>
                <i class="icon-bug text-white"></i>
              </span>
            </p>
            <div>
              <h3 class="text-center">Ability To Test & Debug</h3>
            </div>
          </div>
          <div class="col-sm-4 wrapper-xl">
            <p class="text-center">
              <span class="icon-stack icon-2x">
                <i class="icon-circle icon-stack-base text-warning"></i>
                <i class="icon-dashboard text-white"></i>
              </span>
            </p>
            <div>
              <h3 class="text-center">Competition</h3>
            </div>
          </div>
          <div class="col-sm-4 wrapper-xl dker">
            <p class="text-center"><span class="icon-stack icon-2x">
                <i class="icon-circle icon-stack-base text-primary"></i>
                <i class="icon-lightbulb text-white"></i>
              </span>
            </p>
            <div>
              <h3 class="text-center">Innovation</h3>
            </div>
          </div>
        </div>
        <p>&nbsp;</p>
      </div>
    </div>
    <div class="bg-light clearfix">
      <div class="container text-center m-xl">
        <% if !@random_user.nil? %>
            <% if @random_user2.nil? %>
              <h1><%= t ".featured_codefellow" %></h1>
            <% else %>
              <h1><%= t ".featured_codefellows" %></h1>
            <% end %>
            <div class="col-lg-6">
              <div class="random_user">
                <div class="user_img">
                  <%= link_to (image_tag @random_user.avatar.url(:medium), class: "img-circle"),
                      @random_user %>
                </div>
                <div class="user_intro">
                  <h2><%= link_to @random_user.first_name.to_s +
                  " " + @random_user.last_name.to_s, @random_user %></h2>
                  <div class="col-lg-8 col-lg-offset-2">
                  <%= @random_user.introduction %></br></br></div>
                  <%= link_to (t ".check_out_my_projects"), @random_user, class: "btn btn-info" %>
                </div>
              </div>
            </div>
          </br></br>
        <% end %>
        <% if !@random_user2.nil? %>
            <div class="col-lg-6">
              <div class="random_user">
                <div class="user_img">
                  <%= link_to (image_tag @random_user2.avatar.url(:medium), class: "img-circle"),
                      @random_user2 %>
                </div>
                <div class="user_intro">
                  <h2><%= link_to @random_user2.first_name.to_s +
                  " " + @random_user2.last_name.to_s, @random_user2 %></h2>
                  <div class="col-lg-8 col-lg-offset-2"><%= @random_user2.introduction %></br></br></div>
                  <%= link_to (t ".check_out_my_projects"), @random_user2, class: "btn btn-info" %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </section>
</body>
