
<%= form_for @user do |f| %>
  <table class="table table-striped table-bordered">
    <thead>
      <th>Url</th>
      <th>Link Type</th>
      <th>Link Description</th>
     </thead>
     <tbody>
       <% @object.ordered_links.each do |link| %>
         <tr>
           <td><a href=<%= link.url_text %> target="_blank"><%= link.url_text %></a>
           <td><%= link.url_type %></td>
           <td><%= link.description %></td>
           <% if @user == current_user %>
            <td><%= link_to 'Edit', edit_link_path(link) %></td>
            <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
           <% end %>
         </tr>
       <% end %>
     </tbody>
  </table>
<% end %>
