<%= form_for @user, :html => { :multipart => true } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="container">
    <div class="column">
      <p>
        <b>Profile Picture</b><br/>
          <%= f.file_field :avatar %></br>
          <%= image_tag @user.avatar.url(:medium) %>
      </p>
      <p>
        <b><%= f.label :first_name %></b>
        <%= f.text_field :first_name %>
      </p>
      <p>
        <b><%= f.label :last_name %></b>
        <%= f.text_field :last_name %>
      </p>
      <p>
        <b><%= f.label :phone_number %></b>
        <%= f.text_field :phone_number %></br>
      </p>
        <%= f.submit "Update profile" %>
    </div>

      <div class="span8">
        <b><%= f.label :introduction %></b>
        <%= f.text_area :introduction, :placeholder => "What am I about? What is the main thing I want employers to know about me?  What are my strengths?" %>
      </div>
      <div class="span8">
        <b><%= f.label :skills %></b>
        <%= f.text_area :skills, :placeholder => "List all skills relevant to the job you are seeking--this is where all the acronyms go." %>
      </div>
      <div class="span8">
        <b><%= f.label :desired_job_situation %></b>
        <%= f.text_area :desired_job_situation, :placeholder => "What is my dream job? Describe the type of job you are seeking/what type of work you would like to do" %>
      </div>
      <div class="span8">
        <b><%= f.label :desired_job_location %></b>
        <%= f.text_area :desired_job_location, :placeholder => "Where is my dream job? List the locations where you would like or would be willing to work, including your current location if applicable. Be as general or specific as you like" %>
      </div>
  </div>
<% end %>
