<body data-spy="scroll" data-target="#header" class="landing">
  <header id="header" class="navbar navbar-fixed-top bg-primary dk" style="background:#b43d3d;"  data-spy="affix" data-offset-top="1">
    <div class="container">
      <a class="navbar-brand" href="<%= root_path %>">Code Fellows</a>
      <p class="navbar-text pull-left text-muted hidden-xs hidden-sm"><small class="text-muted"><em>Alumni Portal</em></small></p>
      <p class="navbar-text pull-left text-muted hidden-xs hidden-sm"><small class="text-muted"><%= link_to_unless_current "English", locale: "en" %></small></p>
      <p class="navbar-text pull-left text-muted hidden-xs hidden-sm"><small class="text-muted"><%= link_to_unless_current "中文", locale: "ch" %></small></p>
      <ul class="nav navbar-nav pull-right">
        <li class="hide">
          <a href="#header">Home</a>
        </li>
        <li class="hidden-xs"><%= link_to (t "application.home"), root_path %></li>
        <li class="hidden-xs"><%= link_to (t "application.alumni"), users_path %></li>
        <% if user_signed_in? %>
          <li class="hidden-xs"><%= link_to (t "application.my_profile"), current_user %></li>
          <li class="hidden-xs"><%= link_to (t "application.my_projects"), projects_path %></li>
          <li class="hidden-xs"><%= link_to (t "application.sign_out"), destroy_user_session_path, :method => :delete %></li>
          <% else %>
          <li class="hidden-xs"><%= link_to (t "application.sign_up"), new_user_registration_path %></li>
          <li class="hidden-xs"><%= link_to (t "application.sign_in"), new_user_session_path %></li>
          <li class="hidden-xs"><%= link_to (t "application.sign_in_with_twitter"), user_omniauth_authorize_path(:twitter) %></li>
        <% end %>
      </ul>
    </div>
  </header>

  <section id="content" class="m-t-lg wrapper-md animated fadeInUp" style="padding-top:80px;">
    <span class="nav-brand" href="index.html">Code Fellows Network</span>


    <section class="scrollable wrapper">

      <div class="col-md-12 col-md-offset-0">
        <div class="col-md-6">
          <section class="panel">
            <div class="panel-body">
              <div id=".search_skills">
                <%= render :partial => 'search_skills' %>
              </div>
              <div id=".search_name">
                <%= render :partial => 'search_name' %>
              </div>
            </div>
          </section>
        </div>
        <div class="col-md-6">
          <section class="panel">
            <div class="panel-body" style="padding-top:18px;padding-bottom:18px;">
              <%= link_to (t ".advanced_search"), '#', class: "show_advanced_search btn-sm btn-success" %>
              <div id="advanced_search" style="padding-top:20px;">
                <%= search_form_for @search do |f| %>
                  <%= f.condition_fields do |c| %>
                    <%= render "condition_fields", f: c %>
                  <% end %>
                  <p><%= link_to_add_fields (t ".add_conditions"), f, :condition %></p>
                  <div class="actions"><%= f.submit (t ".search") %></div>
                <% end %>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="link">
        <%= link_to (t ".view_all_alumni"), users_path %>
      </div>
    </section>



    <section class="scrollable wrapper">
      <% @users.each do |user| %>
        <div class="col-md-12">
          <div class="col-lg-4" style="float:left">
            <section class="panel">
              <div class="panel-body">
                <div class="clearfix m-b">
                  <%= link_to (image_tag user.image_url(:thumb).to_s, class: "img-circle"), user, class: "thumb-sm pull-left m-r" %>
                  <div class="clear">
                    <strong><%= link_to user.full_name.to_s, user %></strong>
                    <small class="block text-muted">
                      <% if user.display_address.present? %>
                        <%= " " + user.display_address + " " %>
                      <% end %>&nbsp;&nbsp;
                      <% if user.twitter_handle.present? %>
                        <i class="icon-twitter"></i><%= link_to user.twitter_handle, "https://twitter.com/" + user.twitter_handle, target: '_blank' %>
                      <% end %>
                    </small>
                  </div>
                </div>
                <b>About Me</b>
                <p>
                  <%= user.introduction.to_s.truncate(140, :separator => ' ', :omission => "...") %>
                </p>
                <b>My Skills</b>
                <p>
                  <%= user.skills.to_s.truncate(140, :separator => ' ', :omission => '...') %>
                </p>
              </div>
              <footer class="panel-footer pos-rlt">
                <form class="pull-out">
                  <span class="form-control no-border input-lg text-sm">
                    <%= link_to "Read More", user %>
                  </span>
                </form>
              </footer>
            </section>
          </div>
        </div>
      <% end %>
    </section>
  </section>

  </section>
</body>
