<div class="container_inner">
  <% if user_signed_in? %>
    <div class="signed_in">
      <p style="color:#555; line-height:16px; margin:0px;"><%= t "application.signed_in_as" %> <%= current_user.email %></p>
    </div>
  <% end %>
  <%= link_to (t "application.back"), :back %>
  <% if current_user == @user %>
  | <%= link_to (t ".edit_profile"), edit_user_path(@user) %>
  <% end %>
  <h2><%= @user.full_name %></h2>
  <%= " " + @user.email%>
  <% if @user.phone_number.present? %>
     | <%= @user.phone_number %>
  <% end %>
  <% if @user.twitter_handle.present? %>
     | <%= link_to @user.twitter_handle, "https://twitter.com/" + @user.twitter_handle, target: '_blank' %>
  <% end %>
  <% if @user.display_address.present? %>
   | <%= " " + @user.display_address + " " %>
  <% end %>&nbsp;&nbsp;&nbsp;&nbsp;
  <% if current_user == @user %>
    <% if @user.display_address.present? %>
      <%= link_to (t ".change_address"), edit_address_path(@user.address) %>
    <% else %>
      <%= link_to (t ".add_address"), new_address_path %>
    <% end %>
  <% else %>
    <%= link_to (t ".contact_me"), new_user_inquiry_path(@user) %>
  <% end %><br><br>

</br>
  <div class="row">
    <div class="span4">
      <%= image_tag @user.avatar.url(:medium) %>
    </div>
    <div class="span8" style="float:left;">
      <p>
        <h2><%= t ".what_am_I_about" %></h2>
        <%= @user.introduction %>
      </p>
    </div>
  </div>
</br>
  <div class="row">
    <div class="span4">
      <p>
        <h2><%= t "application.skills"%></h2>
        <%= @user.skills %>
      </p>
    </div>
    <div class="span4">
      <p>
        <h2><%= t ".what_is_my_dream_job" %></h2>
        <%= @user.desired_job_situation %>
      </p>
    </div>

    <div class="span4">
      <p>
        <h2><%= t ".where_is_my_dream_job" %></h2>
        <%= @user.desired_job_location %>
      </p>
    </div>
  </div><br><br>

  <div class="row">
    <div class="span8">
      <p>
        <h2><%= t ".online_presence" %></h2>
        <% if current_user == @user %>
          <%= link_to (t "application.add_link"), new_user_link_path(@user), id: "new_user_link", remote: true %>
        <% end %>
      </p>
      <%= render "links/links_form" %>
    </div>
    <div class="span4">
      <p>
        <h2><%= t ".projects" %></h2>
        <% if current_user == @user %>
          <%= link_to (t ".add_project"), new_project_path %>
        <% end %>
      </p>
      <table class="table table-striped table-bordered">
        <thead>
          <th><%= t "application.title" %></th>
         </thead>
         <tbody>
           <% @user.projects.each do |p| %>
             <tr>
               <td><%= link_to p.title, project_path(p) %></td>
               <% if current_user == @user %>
                 <td><%= link_to (t "application.edit"), edit_project_path(p) %></td>
                 <td><%= link_to (t "application.delete"), p, method: :delete, data: { confirm: (t "application.confirm") } %></td>
               <% end %>
             </tr>
           <% end %>
         </tbody>
      </table>
    </div>

    <div class="span12">
      <p>
        <h2><%= t ".videos" %></h2>
        <% if current_user == @user %>
          <%= link_to (t ".add_video"), new_video_path, id: "new_video", remote: true %>
        <% end %>
      </p>
      <div id="video_url">
        <% @user.videos.take(2).each do |video| %>
          <p><h2><%= link_to video.title, video %></h2></p>
          <p><%= video.description %></p>
          <p><a href="<%= video.video_link %>"></a></p>
          <% if current_user == @user %>
            <%= link_to (t "application.edit"), edit_video_path %> |
            <%= link_to (t "application.delete"), p, method: :delete, data: { confirm: (t "application.confirm") } %>
          <% end %>
          </br></br>
        <% end %>
        </br>
        <%= link_to (t "application.view_all"), videos_path %>
      </div>
    </div>
  </div>
</div>
