<div class="container">

  <h2><%= @user.full_name %></h2>
  <%= " " + @user.email%>&nbsp; &nbsp; &nbsp; &nbsp;<%= @user.phone_number %><br><br>
  <% if user_signed_in? %>
    <%= link_to "Edit Profile", edit_user_path(@user) %>
  <% end %>

</br>
  <div class="row">
    <div class="span3">
      <%= image_tag @user.avatar.url(:medium) %>
    </div>
    <div class="span3">
      <p>
        <b>What am I about?</b><br>
        <%= @user.introduction %>
      </p>
    </div>

    <div class="span2">
      <p>
        <b>Skills:</b><br>
        <%= @user.skills %>
      </p>
    </div>

    <div class="span2">
      <p>
        <b>What is my dream job?</b><br>
        <%= @user.desired_job_situation %>
      </p>
    </div>

    <div class="span2">
      <p>
        <b>Where is my dream job?</b><br>
        <%= @user.desired_job_location %>
      </p>
    </div>
  </div><br><br>

  <div class="row">
    <div class="span6">
      <p>
        <b>Contact/networking/reference/useful links: </b>
        <% if user_signed_in? %>
          <%= link_to "Add link", new_user_link_path(@user) %>
        <% end %>
      </p>
      <%= render "links/links_form" %>
    </div>
    <div class="span6"
      <p>
        <b>Projects </b>
        <% if user_signed_in? %>
          <%= link_to "Add project", new_project_path %>
        <% end %>
      </p>
      <table class="table table-striped table-bordered">
        <thead>
          <th>Title</th>
          <th>Description</th>
         </thead>
         <tbody>
           <% @user.projects.each do |p| %>
             <tr>
               <td><%= link_to p.title, project_path(p) %></td>
               <td><%= p.description %></td>
               <% if user_signed_in? %>
                 <td><%= link_to 'Edit', edit_project_path(p) %></td>
                 <td><%= link_to 'Delete', p, method: :delete, data: { confirm: 'Are you sure?' } %></td>
               <% end %>
             </tr>
           <% end %>
         </tbody>
      </table>
    </div>
  </div>
</div>
