<%= simple_form_for(@video, id: "new_video_form", :html => {:class => 'form-inline'}) do |f| %>
  <%= f.error_notification %>
  <div class="form-group">
    <%= f.input :title, class: "form-control" %>
  </div></br></br>
  <div class="form-group">
    <%= f.input :description, id: "project_description", class: "form-control" %>
  </div></br></br>
  <div class="form-group">
    <%= f.input :video_link, class: "form-control" %>
  </div></br></br>
  <div class="form-group">
    <%= f.submit "Save Video", class: "btn btn-twitter" %>
  </div>
<% end %>
