<div class="container_inner">
  <% if user_signed_in? %>
    <div class="signed_in">
      <p style="color:#555; line-height:16px; margin:0px;"><%= t "application.signed_in_as" %> <%= current_user.email %></p>
    </div>
  <% end %>

  <%= link_to (t "application.back"), :back %>
  <h2><%= t ".my_projects" %></h2>

  <p>
    <%= link_to (t "application.add_project"), new_project_path, id: "new_link", remote: true %>
  </p>
  <table class="table table-striped table-bordered">
    <thead>
      <th><%= t "application.image" %></th>
      <th><%= t "application.title" %></th>
      <th><%= t "application.description" %></th>
    </thead>
    <tbody>
      <% @projects.each do |p| %>
      <div id="created_project">
        <tr>
          <td><%= link_to (image_tag p.attach.url(:thumb)), p %></td>
          <td class="project_title_column"><%= link_to p.title, project_path(p) %></td>
          <td><%= link_to p.description, project_path(p) %></td>
          <% if current_user == @user %>
            <td><%= link_to (t "application.edit"), edit_project_path(p) %></td>
            <td><%= link_to (t "application.delete"), p, method: :delete, data: { confirm: (t "application.confirm") } %></td>
          <% end %>
        </tr>
      </div>
      <% end %>
    </tbody>
  </table>
</div>
