<div class="container_inner">
    <% if user_signed_in? %>
      <div class="signed_in">
        <p style="color:#555; line-height:16px; margin:0px;"><%= t "application.signed_in_as" %> <%= current_user.email %></p>
      </div>
    <% end %>
  <div id="project">
    <p>
      <%= link_to (t "application.back"), :back %>
      <% if current_user == @project.user %>
        | <%= link_to 'Edit', edit_project_path %> |
        <%= link_to 'Delete', p, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </p>
      <h2><%= @project.title %></h2>
        <b>Description:</b>
        <%= @project.description %><br>
        <b>Date deployed:</b>
        <% if !@project.date_deployed.nil? %>
          <%= @project.date_deployed.to_s(:date_deployed) %>
        <% end %>
    </p>
  </div>
  <div>
    <% if @project.attach.exists? then %>
      <b>Screenshot</b></br>
      <%= image_tag @project.attach.url %>
    <% end %>
  </div>
  </br>
   <div class="row">
    <div class="span6">
      <p>
        <b>Project links: </b>
        <% if current_user == @project.user %>&nbsp;&nbsp;
          <%= link_to "Add link", new_project_link_path(@object) %>
        <% end %>
      </p>
      <%= render "links/links_form" %>
    </div>
  </div>
</div>
