<div id="project">
  <h2><%= @project.title %></h2>
  <p>
    <%= link_to 'Edit', edit_project_path %> |
    <%= link_to 'Delete', p, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
    <b>Description:</b>
    <%= @project.description %>
  </p>
</div>
<div>
  <% if @project.attach.exists? then %>
    <b>Screenshot</b></br>
    <%= image_tag @project.attach.url %>
  <% end %>
</div>
</br>
 <div class="row">
  <div class="span6">
    <p>
      <b>Project links: </b>
      <% if current_user == @project.user %>
        <%= link_to "Add link", new_project_link_path(@object) %>
      <% end %>
    </p>
    <%= render "links/links_form" %>
  </div>
</div>
