<%= form_for [@object, @link] do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <%= f.label :url_text, "Full URL with http/https", class: "control-label" %>
    <%= f.text_field :url_text, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description, class: "control-label" %>
    <%= f.text_field :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :url_type, class: "control-label" %>
    <%= f.select :url_type, url_types, class: "form-control" %>
  </div>
  <div class="form-group" style="float:right;">
    <%= f.submit "Save Link", class: "btn btn-twitter" %>
  </div>
<% end %>
