<%= form_for @object do |f| %>
  <table id='links' cellspacing='0'>
    <thead>
      <th>Url</th>
      <th>Link Type</th>
      <th>Link Description</th>
     </thead>
     <tbody>
       <% @object.links.each do |link| %>
         <tr class='<%= cycle("odd", "even") %>'
             id='project_<%= project.id %>'>
           <td><%= link.url_text %></td>
           <td><%= link.url_type %></td>
           <td><%= link.description %></td>
         </tr>
       <% end %>
     </tbody>
  </table>
<% end %>
