<%= simple_form_for(@address, :html => {:class => 'form-inline', :id => 'address-form'}) do |f| %>
  <%= f.error_notification %>
  <div class="form-group">
    <%= f.input :street_address %>
  </div></br></br>
  <div class="form-group">
    <%= f.input :city %>
  </div></br></br>
  <div class="form-group">
    <%= f.input :country, :include_blank => true,
          collection: countries,
          value_method: :last %>
  </div></br></br>
  <div class="form-group">
    <%= f.input :state, :include_blank => true,
        prompt: 'Select a country first',
        collection: states,
        value_method: :last %>
  </div></br></br>
  <div class="form-group">
    <%= f.input :postal_code %>
  </div></br></br>
  <div class="form-group">
    <%= f.submit "Save Address", class: "btn btn-twitter" %>
  </div>
<% end %>
