<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Code Fellows Alumni Portal</title>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag "slider", :media => "all" %>
  <%= stylesheet_link_tag "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag "animate", :media => "all" %>
  <%= stylesheet_link_tag "font", :media => "all" %>
  <%= stylesheet_link_tag "plugin", :media => "all" %>
  <%= stylesheet_link_tag "app", :media => "all" %>
  <%= stylesheet_link_tag "landing", :media => "all" %>
  <%= stylesheet_link_tag "font-awesome.min.css", :media => "all" %>
  <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
  <script src="http://cdn.embed.ly/jquery.embedly-3.1.1.min.js"></script>
  <script type="text/javascript">
    $('document').ready(function(){
      $('#video_url').embedly({
        query: { maxwidth: 350, wmode: 'transparent' },
        method: 'after',
        key: '454314ac5d2c4cfa990b5444d71874ef'
      });
    });
  </script>
  <script src="assets/bootstrap-slider.js"></script>
  <script src="assets/app.js"></script>
  <script src="assets/app.data.js"></script>
  <script src="assets/app.plugin.js"></script>
  <script src="assets/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="assets/bootstrap.js"></script>
  <!-- app -->
  <script src="assets/app.js"></script>
  <!--[if lt IE 9]>
    <script src="js/ie/respond.min.js" cache="false"></script>
    <script src="js/ie/html5.js" cache="false"></script>
    <script src="js/ie/fix.js" cache="false"></script>
  <![endif]-->
</head>
  <div id="container_flash">
    <% flash.each do |key, value| %>
      <div class='flash' id='<%= key %>'>
        <%= value %>
      </div>
    <% end %>
  </div>
  <%= yield %>
</html>
